@import url(fonts.css);

:root {
	--body-text: 'SSans-sserif', 'Arial', sans-serif;
	--bold-text: 'SSans-sserif-bold', 'Arial', sans-serif;
	--serif-text: 'SSerif', 'Times New Roman', serif;
	--mono-text: 'Mmono', monospace;
	--monobld-text: 'Mmono-Bold', monospace;
	--text-color: #000;
	--green-color: #33ff00;
	--darkgreen-color: #06b506;
	--fade-in-effect: fadein 400ms;
	--green-shadow: rgba(51, 255, 0, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	font-size: calc(0.65em + 0.15vw);
	font-family: var(--body-text);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-animation: var(--fade-in-effect);
	-moz-animation: var(--fade-in-effect);
	-ms-animation: var(--fade-in-effect);
	-o-animation: var(--fade-in-effect);
	animation: var(--fade-in-effect);
}

::selection {
	color: var(--text-color);
	background: var(--green-color);
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.hide {
	opacity: 0;
}

div#mobile-preview {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: var(--green-color);
}

#horizontalscroll {
	position: relative;
	display: flex;
	flex-direction: row;
	overflow: scroll;
	scroll-behavior: smooth;
	height: inherit;
	overflow-y: hidden;
	/* margin-left: 30%; */
}

.title {
	align-content: center;
	/* display: grid; */
	width: 30%;
	flex-shrink: 0;
}

/* horizontal scroll container */
/* border and width sizing is just for layout testing, can be removed */
.item {
	position: relative;
	flex-shrink: 0;
	/* display: flex;
	flex-direction: row; */
	/* border: 1px solid black; */
}

/* for initial layout purposes only, to be overridden later */
.item img,
.item video,
#fsglitch img {
	/* max-width: 30em;
	max-height: 50em;
	padding: 2em;
	align-self: flex-start; */
}

.item button {
	align-self: flex-start;
}

.index,
.stickyindex {
	display: grid;
	align-content: center;
}

.stickyindex {
	position: sticky;
	position: -webkit-sticky;
	left: 1em;
	z-index: 90;
	padding-right: 6px;
}

.index {
	margin-left: 1em;
	margin-right: 50%;
	width: 28vw;
}

.index .row {
	width: inherit;
}

.index a,
.stickyindex div {
	/* margin-bottom: 0.25em; */
}

.stickyindex div a:first-of-type {
	filter: drop-shadow(1.15px 1.15px #ffffff70);
}

.index a {
	position: relative;
	display: inline-block;
	text-wrap: wrap;
	
}

.index div {
	/* padding-right: 2em; */
}

.thumbsindex {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(8, auto);

	margin: 0;
	top: 17%;
	right: 4em;
	position: absolute;
	max-width: 35vw;
}

.thumbs {
	width: auto;
	height: 9vh;
	flex-shrink: 0;
	margin: 1px 1px 0px 0px;
	overflow: hidden;
	border: 0.5px solid white;
	z-index: 80;
}

.thumbs:nth-of-type(1),
.thumbs:nth-of-type(2) {
	grid-row: 1;
	height: 10vh;
	margin: 1px 1px 0px 0px;
}

.thumbs:nth-of-type(1) {
	grid-column: 1 / 3;
}

.thumbs:nth-of-type(2) {
	grid-column: 3 / 5;
}

.thumbs:nth-of-type(3),
.thumbs:nth-of-type(4),
.thumbs:nth-of-type(5),
.thumbs:nth-of-type(6),
.thumbs:nth-of-type(7),
.thumbs:nth-of-type(8) {
	grid-row: 2;
}

.thumbs:nth-of-type(9),
.thumbs:nth-of-type(10),
.thumbs:nth-of-type(11),
.thumbs:nth-of-type(12),
.thumbs:nth-of-type(13),
.thumbs:nth-of-type(14) {
	grid-row: 3;
}

.thumbs:nth-of-type(14),
.thumbs:nth-of-type(14) {
	grid-row: 3;
}
.thumbs:nth-of-type(15),
.thumbs:nth-of-type(16),
.thumbs:nth-of-type(17),
.thumbs:nth-of-type(18) {
	grid-row: 4;
}

.thumbs:nth-of-type(19),
.thumbs:nth-of-type(20) {
	grid-row: 5;
	height: 15vh;
}

.thumbs:nth-of-type(19) img,
.thumbs:nth-of-type(20) img {
	height: auto;
	width: 100%;
}

.thumbs:nth-of-type(21),
.thumbs:nth-of-type(22),
.thumbs:nth-of-type(23),
.thumbs:nth-of-type(24),
.thumbs:nth-of-type(25),
.thumbs:nth-of-type(26) {
	grid-row: 6;
	height: 3vh;
}

.thumbs:nth-of-type(27),
.thumbs:nth-of-type(28),
.thumbs:nth-of-type(29),
.thumbs:nth-of-type(30),
.thumbs:nth-of-type(31),
.thumbs:nth-of-type(32) {
	grid-row: 7;
	height: 3vh;
}

.thumbs:nth-of-type(33),
.thumbs:nth-of-type(34),
.thumbs:nth-of-type(35),
.thumbs:nth-of-type(36) {
	grid-row: 8;
	height: 3vh;
}

.thumbs img,
.thumbs video {
	/* -webkit-fill-available:; */
	width: 100%;
}

/* index column behavior */
.index .row {
	margin-left: -2.7em;
	display: flex;
	z-index: 91;
	background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.index .row a:nth-child(1) {
	margin-right: 1.6em;
	width: 1em;
}

.index .row:hover {
	color: var(--green-color);
}

/* thumb hover */

.thumbsindex .thumbs a:hover {
	cursor: pointer;
	border: 1.5px outset var(--green-color);

	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(1):hover ~ .thumbsindex .thumbs:nth-of-type(1) a {
	border: 1.5px outset var(--green-color);

	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(2):hover ~ .thumbsindex .thumbs:nth-child(2) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(3):hover ~ .thumbsindex .thumbs:nth-child(3) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(4):hover ~ .thumbsindex .thumbs:nth-child(4) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(5):hover ~ .thumbsindex .thumbs:nth-child(5) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(6):hover ~ .thumbsindex .thumbs:nth-child(6) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(7):hover ~ .thumbsindex .thumbs:nth-child(7) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(8):hover ~ .thumbsindex .thumbs:nth-child(8) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(9):hover ~ .thumbsindex .thumbs:nth-child(9) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(10):hover ~ .thumbsindex .thumbs:nth-child(10) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(11):hover ~ .thumbsindex .thumbs:nth-child(11) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(12):hover ~ .thumbsindex .thumbs:nth-child(12) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(13):hover ~ .thumbsindex .thumbs:nth-child(13) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(14):hover ~ .thumbsindex .thumbs:nth-child(14) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(15):hover ~ .thumbsindex .thumbs:nth-child(15) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(16):hover ~ .thumbsindex .thumbs:nth-child(16) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(17):hover ~ .thumbsindex .thumbs:nth-child(17) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(18):hover ~ .thumbsindex .thumbs:nth-child(18) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(19):hover ~ .thumbsindex .thumbs:nth-child(19) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(20):hover ~ .thumbsindex .thumbs:nth-child(20) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(21):hover ~ .thumbsindex .thumbs:nth-child(21) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(22):hover ~ .thumbsindex .thumbs:nth-child(22) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(23):hover ~ .thumbsindex .thumbs:nth-child(23) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(24):hover ~ .thumbsindex .thumbs:nth-child(24) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(25):hover ~ .thumbsindex .thumbs:nth-child(25) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(26):hover ~ .thumbsindex .thumbs:nth-child(26) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(27):hover ~ .thumbsindex .thumbs:nth-child(27) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(28):hover ~ .thumbsindex .thumbs:nth-child(28) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(29):hover ~ .thumbsindex .thumbs:nth-child(29) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(30):hover ~ .thumbsindex .thumbs:nth-child(30) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(31):hover ~ .thumbsindex .thumbs:nth-child(31) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(32):hover ~ .thumbsindex .thumbs:nth-child(32) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(33):hover ~ .thumbsindex .thumbs:nth-child(33) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(34):hover ~ .thumbsindex .thumbs:nth-child(34) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(35):hover ~ .thumbsindex .thumbs:nth-child(35) a {
		border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

.index .row:nth-child(36):hover ~ .thumbsindex .thumbs:nth-child(36) a {
	border: 1.5px outset var(--green-color);
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: var(--green-color);
		width: 100%;
		height: 100%;
	}
	&:before {
		mix-blend-mode: color;
	}
	&:after {
		opacity: 0.4;
		mix-blend-mode: darken;
	}
}

/* index overlay effect */
#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #33ff0077;
	z-index: 2;

	
}

.index .row button {
	text-align: left;
	border: none;
	background-color: transparent;
	padding: 0;
  width: 100%;
display: flex;
flex-direction: row;
font-family: var(--body-text);
font-size: calc(0.89em + 0.15vw);
}

.index .row:hover button {
	color: var(--green-color);
	cursor: pointer;
}

/* sticky behavior */
.sticky {
	position: sticky;
	position: -webkit-sticky;
	left: 0;
	flex-shrink: 0;
}

/* sticky number index on hover*/
.stickyindex div a {
	display: inline-flex;
	width: max-content;
}

.stickyindex div a:hover {
	filter: drop-shadow(0.65px 0.65px #00000000);
}

.stickyindex div a:hover::after {
	width: inherit;
	left: 1em;
	position: absolute;
}

.stickyindex div:nth-of-type(1) a:hover::after {
	content: 'Subdued Colours.mp4';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(2) a:hover::after {
	content: 'Extended.mp4';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(3) a:hover::after {
	content: 'Politics V Economics 1.png';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(4) a:hover::after {
	content: 'Politics V Economics 2.png';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(5) a:hover::after {
	content: 'JOAQUIM CHISSANO.png';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(6) a:hover::after {
	content: 'APARTHEID HAS A FRIEND AT CHA$E MANHATTAN.png';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(7) a:hover::after {
	content: 'Titchfield Hotel.png';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(8) a:hover::after {
	content: 'Untitled (Polyptych 1).jpg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(9) a:hover::after {
	content: 'Untitled (Polyptych 5).jpg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(10) a:hover::after {
	content: 'Untitled (Polyptych 6).jpg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(11) a:hover::after {
	content: 'Miriam Makeba Appears as Petitioner Before Apartheid Committee (with Mr. Karseno Sasmojo).jpg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(12) a:hover::after {
	content: 'Mairuth Sarsfield at the United Nations in New York.jpg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(13) a:hover::after {
	content: 'Carl Stone, “Constituents, Candidates, and Polls” in Politics versus Economics: The 1989 Elections in Jamaica.jpg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(14) a:hover::after {
	content: 'T-MAC.jpg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(15) a:hover::after {
	content: 'Michael E. Veal, “Every Spoil Is A Style: The Evolution of Dub Music in the 1970s” in Dub: Soundscapes and Shattered Songs in Jamaican Reggae.jpeg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(16) a:hover::after {
	content: 'Pyroclastic flows at Mount Pelée.jpeg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(17) a:hover::after {
	content: 'KID CRYING.jpeg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(18) a:hover::after {
	content: 'GOATSKIN.jpeg';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(19) a:hover::after {
	content: 'Wynter_Sylvia_Maskarade_A_Jonkunnu_Musical_Play_1973.pdf';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(20) a:hover::after {
	content: 'Brathwaite_Kamau_The_Making_Of_The_Drum_1968.pdfBrathwaite_Kamau_The_Making_Of_The_Drum_1968.pdf';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(21) a:hover::after {
	content: 'Watermelon.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(22) a:hover::after {
	content: 'Atlantic Memory.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(23) a:hover::after {
	content: 'Amor.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(24) a:hover::after {
	content: 'Ovbomo.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(25) a:hover::after {
	content: 'Sticky Notes.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(26) a:hover::after {
	content: 'Exxxit.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(27) a:hover::after {
	content: 'Silver Tape.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(28) a:hover::after {
	content: 'Pink Cables.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(29) a:hover::after {
	content: 'Untitled (Gee Fucking Wiz).wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(30) a:hover::after {
	content: 'Dear Science.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(31) a:hover::after {
	content: 'Black Rock Radio.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(32) a:hover::after {
	content: 'Cosmic Underground.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(33) a:hover::after {
	content: 'Planet Groove.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(34) a:hover::after {
	content: 'Microwave Background.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(35) a:hover::after {
	content: 'Rubber.wav';
	margin-left: 1em;
}

.stickyindex div:nth-of-type(36) a:hover::after {
	content: 'Thanks.wav';
	margin-left: 1em;
}

/* composition 01 ~~> .item_1 */

div.item_1 {
	grid-template-rows: 70vh auto;
	grid-template-columns: 300px 1000px 300px;
	display: grid;
}

div.item_1 .container {
	margin: 0 auto;
	align-self: center;
	height: 100%;
	margin-top: 10%;
	width: 100vh;
	--n: 4;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column: 1/4;
}

div.item_1 .container video {
	max-width: 900px;
	width: 100%;
	height: auto;
}

div.item_1 .container .videocontainer {
	display: inline-grid;
	width: 100%;
}

div.item_1 .container button {
	cursor: pointer;
}

div.item_1 .container button:hover,
div.item_6 button:hover {
	background-color: var(--green-color);
}

div.item_1 .container .vidbutt {
	top: 4em;
	position: absolute;
	display: block;
	right: 26.5em;
	z-index: 99;
}

div.item_1 .container button,
div.item_6 div button,
.audio-player {
	background-color: white;
	border-color: var(--green-color);
	color: var(--darkgreen-color);
	margin-bottom: 0.25em;
}

div.item_1 .container button:nth-child(1) {
	border-right: dotted;
	transform: translateX(4px);
}

div.item_1 .container button:nth-child(2) {
	border-left: none;
}

div.item_1 .container button:nth-of-type(3),
div.item_6 div button,
.audio-player .controls .audio-icon button {
	display: inline-flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

div.item_1 .container button:nth-of-type(3) i,
div.item_6 div button i,
.audio-player .controls .audio-icon button i {
	line-height: 0;
	font-size: 1.25em;
}

div.item_1 #upload {
}

div.item_1 img {
	grid-row: 2;
	height: auto;
	width: auto;
}

div.item_1 img:first-of-type {
	grid-column: 1 /2;
	justify-self: end;
	margin-top: -2em;
}

div.item_1 img + img {
	grid-column: 2 /3;
}

/* composition 02 ~~> .item_2 */

div.item_2,
div.item_2 span,
div.item_3,
div.item_4,
div.item_5,
div.item_9 {
	display: flex;
	flex-direction: row;
}

div.item_2 span {
	height: auto;
	align-items: center;
	margin: 0 12% 0 4em;
}

div.item_2 span img,
div.item_3 img:nth-of-type(4),
div.item_7 div.page-wrapper,
div.item_8 a img {
	border: 1px outset rgba(207, 207, 207, 0.336);
}

div.item_2 span img:nth-of-type(1) {
	z-index: 3;
}

div.item_2 span img:nth-of-type(2) {
	z-index: 2;
}

div.item_2 span img + img {
	margin-left: -125px;
}

div.item_2 span img:hover,
div.item_3 img:nth-of-type(4):hover,
div.item_7 div.page-wrapper:hover,
div.item_8 a img:hover {
	z-index: 4;
	box-shadow: var(--green-shadow);
	transition: 0.175s linear;
}

div.item_2 div + img {
	height: 100%;
	width: auto;
	padding: 1em 0;
}

/* composition 03 ~~> .item_3 */
div.item_3,
div.item_4,
div.item_5,
.item_9 {
	align-items: center;
}

/* div.item_3 img:nth-of-type(4):hover {
		box-shadow: var(--green-shadow);
	transition: 0.175s linear;
} */
div.item_3 {
	margin-right: 25%;
}

div.item_3 img:nth-of-type(2) {
	margin-left: -4em;
}

div.item_3 img:nth-of-type(2),
div.item_3 img:nth-of-type(3) {
	height: 100%;
	padding: 0.25em 0;
}

div.item_3 img:nth-of-type(4) {
	margin: 0 13.5%;
}

/* composition 04 ~~> .item_4 */
div.item_4 {
	margin-right: 10%;
}

/* composition 05 ~~> .item_5 */
div.item_5 img:nth-of-type(1),
div.item_5 img:nth-of-type(2),
div.item_5 img:nth-of-type(3) {
	height: 100%;
	padding: 0.25em 0;
}

div.item_5 div.container2 {
	display: inline-flex;
	flex-direction: column;
}

/* composition 06 ~~> .item_6 */
div.item_6 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 5%;
}

div.item_6 div {
	display: inline-flex;
	width: 100%;
	justify-content: flex-end;
}

div.item_6 img {
	width: fit-content;
	height: 10%;
}

/* composition 07 ~~> .item_7 */

div.item_7 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.item_7 div {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

div.item_7 div.flipbook-viewport {
	padding: 1em;
}

div.item_7 div.flipbook-viewport + img {
	transform: translateX(-1.5em);
 
}

div.item_7 img.kid-cry-img {
	height: auto;
	align-self: baseline;
	margin: 18% 15% 15% 10%;
}

/* draggable */
/* div.item_8 a img:hover {
box-shadow: var(--green-shadow);
} */

.goatdrag {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	align-items: center;
	padding: 3em 0;
}

.goatdrag:nth-child(-n + 3) {
	grid-column: 1;
}

.goatdrag a {
	grid-row: 1/4;
	margin-left: -3em;
	z-index: 6;
}

#draggable {
	width: 20em;
	height: 20em;
}

.goat_img {
	background-image: url('../assets/img/7232/goat2_0.png');
	width: 20em;
	height: 20em;
	background-size: contain;
	position: absolute;
	cursor: crosshair
}

.goat_img:hover {
	z-index: 5;
	    filter: drop-shadow(3px 3px 6px #6d786fc2);
			transition: 0.15s linear;

}

/* composition 09 ~~> .item_9 */
div.item_9 img {
	margin: 0 1em;
}

div.item_9 img:nth-child(3) {
	margin-right: 12vw;
}

/* endless scroll single container */
#endlessscroll {
	max-height: 50em;
	overflow-y: auto;
}

#endlessscroll ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#endlessscroll li {
	height: 100%;
}

#endlessscroll img {
	padding: 0;
}

/* fullscreen scroll styling, composition 4 ~~> .item_4*/
#fsglitch {
	top: 0px;
	left: 0em;
	z-index: 3;
	position: relative;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
}

#fsglitch img {
	transition: 1.5s ease-in-out;
}

#fsglitch:hover img {
	transform: scale(1.95) translateY(0%);
	border: 2px solid white;
}

/* audio styling */

.audio-player {
	height: 3em;
	width: 16vw;
	min-width: fit-content;
	color: var(--darkgreen-color);
	display: grid;
	grid-template-rows: 6px auto;
	background: #ffffff;
	overflow: hidden;
	position: fixed;
	bottom: 1em;
	right: 3em;
	border: 1.5px outset var(--green-color);
}

.audio-player .timeline {
	background: #09ff0041;
	width: 100%;
	position: relative;
	cursor: pointer;
	border-bottom: 1px dotted;
}

.audio-player .timeline .progress {
	background: var(--green-color);
	width: 0%;
	height: 100%;
	transition: 0.25s;
}

.audio-player .controls {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 1em;
}

.audio-player .controls > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.audio-player .controls .audio-icon {
	position: relative;
	border: none;
}

.controls .audio-icon button {
	background-color: white;
	border: none;
	color: var(--darkgreen-color);
	padding: 0;
	margin-right: 0.25;
}

.audio-player .controls .audio-icon button:hover {
	cursor: pointer;
}

.audio-player .controls .time {
	display: flex;
}

.audio-player .controls .time > * {
	padding: 2px;
}

/* for overlapping vertical scroll */

.fixed {
	height: 100%;
	width: 100%;
	position: fixed;
}

.creditpage {
	/* padding-top: 100%; */
	margin-left: 3em;
	width: 27%;
	padding-right: 2em;
	/* height: 223vh; */
}

.creditpage a.sticky {
	top: 1em;
	font-family: var(--serif-text);
	/* font-family: var(--mono-text); */
	border: 1px solid;
	padding: 0.1em 0.85em 0.25em;
	background-color: #ffffffb3;
	border-radius: 1em;
	z-index: 100;
}

.creditpage a.sticky:first-of-type {
	margin-left: -0.85em;
}

.creditpage a.sticky:first-of-type,
.creditpage a.sticky:first-of-type:visited,
.creditpage a.sticky:first-of-type:active {
	border-color: #fff;
}

.creditpage a.sticky + a.sticky {
	border-color: var(--green-color);
}


.creditpage a.sticky:hover {
	background-color: var(--green-color);
	color: var(--text-color);
}

.creditpage section {
	display: flex;
	flex-direction: column;
	padding-right: 12px;
	line-height: 1.25em;
	margin-bottom: 10em;
	font-family: var(--serif-text);
	/* font-family: var(--mono-text); */
}

.creditpage section div.titleblock {
	height: 120vh;
	margin-top: 30%;
	cursor: default;
	display: flex;
	flex-direction: column;
}

.creditpage section div.titleblock img:nth-of-type(1) {
	max-width: 8vw;
	min-width: calc(10em + 1vw);
	filter: drop-shadow(0.65px 0.65px #ffffff70);
}

.creditpage section div.titleblock img:nth-of-type(2) {
	max-width: 50%;
	min-width: calc(16em + 0.25vw);
	margin-left: -5px;
	filter: drop-shadow(0.65px 0.65px #ffffff70);
}

.creditpage section div.titleblock h1 {
	margin-top: 0;
	margin-bottom: 0;
	text-shadow: 0.65px 0.65px #ffffff70;
}

.creditpage section div.titleblock h1:nth-of-type(2) {
	margin-left: 2em;
}

.creditpage section div.titleblock h3 {
	font-weight: 400;
	text-shadow: 0.65px 0.65px #ffffff70;
}

.creditpage section p,
.creditpage section div,
.creditpage section span,
.creditpage section object,
.creditpage section h5 {
	z-index: 1;
	cursor: default;
}

.creditpage section p {
	text-align: justify;
}

.creditpage section em {
	line-height: 1.25em;
	font-style: normal;
	font-family: var(--serif-text);
	font-weight: 600;
	/* font-family: var(--body-text); */
}

.creditpage section i {
	font-family: var(--serif-text);
	/* font-family: var(--body-text); */
	font-style: normal;
	font-weight: 600;
}


.creditpage section h5 {
	text-transform: uppercase;
	border-bottom: 1px solid var(--green-color);
	letter-spacing: 0.05em;
}

.creditpage section h5:nth-of-type(2), .creditpage section h5:nth-of-type(3) {
	margin-top: 4em;
}

.creditpage section h5 + p {
	margin: 0;
}

.creditpage section span {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

.creditpage section span img {
	margin: 1em 2em 1em 0.5em;
}



/* flipbook styling */
.flipbook-viewport {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.flipbook-viewport .flipcontainer {
	position: relative;
	margin: 0 0.5em 0.5em 0;
}

.flipbook-viewport .flipbook {
	width: 100%;
	height: 100%;
	left: -461px;
	top: -300px;
	position: static !important;
	margin-left: 0 !important;
}

.flipbook-viewport .page {
	width: 100%;
	height: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
}

.flipbook .page {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
}

/* .flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
} */

/* 
lazyload class logic */
.lazy {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
  -o-object-fit: cover;
     object-fit: cover;
}

.lazy.loaded {
  image-rendering: auto;
}

/* pixel css for small images */
.pixellated {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

.picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s linear;
}


.picture.loaded {
  opacity: 1;
}


/* BREAKPOINTS */


/* IPAD MAX WIDTH 960PX */

@media (max-width: 960px) {

div.index div.thumbsindex {
	display: none;
}

}


/* MOBILE PORTRAIT */
@media only screen and (orientation: portrait), screen and (max-width: 640px) {

	div.stickyindex, div.index, div.audio-player, div.item {
	display: none;
}

div.creditpage, #horizontalscroll div.title {
	width: 100%;
	max-width: 400px;
}

div.creditpage {
margin: 0;
padding: 1em;
height: fit-content;
}

div.creditpage a {
	text-align: center;
}

	div.creditpage a.sticky:first-of-type {
	margin-left: 0;
}

div.creditpage section {
padding: 1em;
}


div.creditpage section div.titleblock {
padding: 0;
margin: 2em 0 1em 0;
	height: fit-content;
	/* margin: 30% 0; */
	/* border: 1.5px outset var(--green-color); */
}

div.creditpage section span {
justify-content: space-around;
    align-content: space-around;
}
div.creditpage section span img {
margin: 0;

}

div.creditpage section h5:first-of-type {
	margin-top: 4em;
}

div.creditpage section h5+ span {
	height: 120px;
}

div.creditpage section h5+ span img {
	width: 125px;
	
}

div#mobile-preview {
	display: block;
}

div#mobile-preview img {
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
}

div#mobile-preview p:first-of-type {
	border-top: 1px dotted var(--green-color);
	padding-top: 1em;
}

div#mobile-preview p {
	text-transform: uppercase;
}

div#mobile-preview p em {
vertical-align: baseline;
    font-weight: 600;
}

}


/* MOBILE LANDSCAPE*/
@media only screen and (max-height: 400px) and (orientation: landscape) {

div.index div.thumbsindex, div.stickyindex, div.index, div.audio-player, div.item {
	display: none;
}

div#mobile-preview {
	display: block;
}
div#mobile-preview p {}

div#mobile-preview img {
display: none;
}

.creditpage section div.titleblock {
	height: fit-content;
	margin-top: 4em;
}

}
